{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Django Projects</title>
</head>

<body>
    <header>
        <nav class="nav container">
            <ul class="nav-list">
                <li class="nav-link"><a href="{% url 'index' %}">Home</a></li>
                <li class="nav-link"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-link"><a href="{% url 'tasks' %}">Tasks</a></li>
                <li class="nav-link"><a href="{% url 'about' %}">About</a></li>
                <li class="nav-link"><a href="{% url 'create_task' %}">New Task</a></li>
                <li class="nav-link"><a href="{% url 'create_project' %}">New Project</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>