<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>

    {% extends 'layouts/base.html' %}
    {% block content %}

    <h1 class="title">About</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi pariatur aperiam provident dicta sed dolor
        necessitatibus vel deleniti quod nisi, facilis praesentium eos. Corporis quam debitis praesentium, mollitia
        optio ipsam amet eaque omnis dolorem nam nesciunt doloribus? Quibusdam nisi eum, nobis maiores aut aliquam culpa
        quaerat, ullam, praesentium dolorem possimus deleniti exercitationem architecto labore illo tenetur! Voluptatem
        necessitatibus porro modi corrupti animi, nostrum mollitia earum odit voluptas ipsum pariatur repellat tenetur
        adipisci saepe, praesentium quaerat. Magni minus at quod optio? Totam ipsum optio obcaecati eligendi distinctio
        nisi tempore iusto et explicabo odit, iste corrupti? Ut vitae iusto vel exercitationem blanditiis.</p>
    {% endblock %}

</body>

</html>