<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    {% extends 'layouts/base.html' %}
    {% block content %}

    <h1 class="title">Django</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, et assumenda quae, mollitia asperiores dolorem
        pariatur soluta, fugiat distinctio enim praesentium eius accusantium illo quas. Illum aut quidem dolore totam.
    </p>
    {% endblock %}

</body>

</html>